[submodule "unityModule00"]
	path = unityModule00
	url = git@github.com:Promswag/unityModule00.git
[submodule "unityModule01"]
	path = unityModule01
	url = git@github.com:Promswag/unityModule01.git
[submodule "unityModule02"]
	path = unityModule02
	url = git@github.com:Promswag/unityModule02.git
[submodule "unityModule03"]
	path = unityModule03
	url = git@github.com:Promswag/unityModule03.git
[submodule "unityModule04"]
	path = unityModule04
	url = git@github.com:Promswag/unityModule04.git
[submodule "unityModule05"]
	path = unityModule05
	url = git@github.com:Promswag/unityModule05.git
[submodule "unityModule06"]
	path = unityModule06
	url = git@github.com:Promswag/unityModule06.git
